/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #222;
  line-height: 1.6;
}

/* Horní lišta s logem na pozadí */
header {
  background: url("images/logo_web.png") no-repeat center center;
  background-size: contain;   /* zobrazí celé logo */
  height: 120px;              /* zvětší výšku lišty */
  display: flex;
  align-items: center;
  justify-content: flex-end;  /* odkazy napravo */
  padding: 0 20px;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
header nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ffcc00;
}

/* Hero sekce */
.hero {
  background: url("images/banerpng.png") no-repeat center center/cover;
  text-align: center;
  padding: 120px 20px;
  color: white;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

/* Sekce */
section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #111;
}

/* Footer */
footer {
  text-align: center;
  background: #111;
  color: #fff;
  padding: 15px 0;
}
